*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../images/Background.jfif');
    background-repeat: no-repeat;
    background-size: cover;

}
.master{
    background-color: white;
    height: 599px;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 2px 7px white;

}
.logo{
    height: 30px;
}
.forlogo{
    margin-left: 50px;
    margin-top: 20px;
}
.menu{
    height: 100px;
    display: flex;
    flex-direction: row;
}
.links{
    /* margin-top: 25px;
    margin-left: 30px;  */
    padding-top: 25px;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-bottom: 20px;
    width: 50%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
.links a{
    margin-left: 50px; 
    text-decoration: none;
    color: rgb(109, 98, 98);
    font-size: 18px;
    font-weight: 600;
    border: 3px solid rgb(255, 255, 255);
}
.links a:hover{
    border-bottom: 3px solid purple;
    transition: .3s ease-in;
}
.logo2{
    height: 30px;
}
.bar{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 50px;
    padding-top: 20px;
}
.text1{
    color: rgb(70, 69, 69);
    font-weight: lighter;
    font-family: Verdana;
    font-size: 250%;
}
.text2{
    color: rgb(54, 54, 54);
    font-weight: bolder;
    font-family: georgia;
}
.text3{
    color: rgb(70, 69, 69);

    font-family: Georgia;
}
.middlediv{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: center;
}
.texts{
    padding-top: 50px;
}
.lastimg{
    height: 500px;
}
.texts a{
    text-decoration: none;
    color: white;
    background-color: purple;
    border: 1px solid;
    padding: 12px 35px;
    border-radius: 25px;
    font-family: Arial;
    font-weight: 600;
}
.texts a:hover{
    background-color: rgb(62, 12, 199);
    color: rgb(255, 255, 255);
    transition: .5s ease-in;
}